/* The majority of CSS rules are formulated using class selectors in the format '.xxxx {}', rather than being directly applied to HTML elements. This approach enhances the flexibility and maintainability of CSS. */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Styles the header element */
.header {
    text-align: center; /* Centers the text in the header */
    background-color: #333; /* Dark background color for the header */
    color: white;        /* White text color for the header */
    padding: 20px 0;    /* Padding on the top and bottom of the header */
}

.header h1 {        /* Styles the h1 element within the header，The <h1> element defines a level 1 heading */
    margin: 0;      /* Removes default margin */
}

.header p {             /* Styles the p element within the header，while the <p> element defines a paragraph. */
    font-size: 18px;        /* Larger font size */
}

/* Styles the nav element with a dark background color, padding, and centered text. */
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}
/* Removes default list styling, margin, and padding from the ul element. */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Displays list items inline with some margin for spacing. */
nav ul li {
    display: inline;
    margin: 0 15px;
}
/* Styles the links with white color, no text decoration, and bold font weight. */
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Styles the section element */
.section {     
    padding: 20px;
}

/* Image section styling */
.image-section {
    text-align: center;
    margin: 20px 0;
}

.image-section img {
    max-width: 30%;
    height: auto;
    border: 2px solid #333;
}

.float-right-img {
    float: right;   /* Floats the image to the right */
    max-width: 300px;   
    margin: 10px 0px 10px 20px; /* top right bottom left */
}

/* Footer styling */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
